* {
  box-sizing: border-box;
}

body {
  background: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

p {
  font-family: $p-font-family;
  font-size: $p-font-size;
  color: $p-color;
  font-weight: $p-weight;
}

h2 {
  color: $form-label-color;
  font-family: $p-font-family;
  font-weight: 200;
  font-size: $h2-font-size;
  line-height: 2.5rem;
  text-align: center;

  span {
    color: $notification-bg-color;
  }
}

.close {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: $p-font-size * 2;
  color: $link-hover-color;
  cursor: pointer;
  transition: transform 0.1s ease;
  text-shadow: 1px 1px 1px #333333;

  &:hover {
    color: $form-label-color;
    transform: rotate(360deg);
    text-shadow: 1px 1px 1px #333333;
  }
}
