* {
  box-sizing: border-box;
}

body {
  background: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

p {
  font-family: $p-font-family;
  font-size: $p-font-size;
  color: $p-color;
  font-weight: $p-weight;
}
