/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  background: #000;
  width: 100%;
  height: 100%;
  overflow: hidden; }

p {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  color: #424242;
  font-weight: 200; }

h2 {
  color: #FFCCBC;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center; }
  h2 span {
    color: #DCAE1D; }

.close {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 2rem;
  color: #F5F5F5;
  cursor: pointer;
  transition: transform 0.1s ease;
  text-shadow: 1px 1px 1px #333333; }
  .close:hover {
    color: #FFCCBC;
    transform: rotate(360deg);
    text-shadow: 1px 1px 1px #333333; }

.notification, .story {
  margin: 5px;
  padding: 15px;
  border-radius: 2px;
  background: #DCAE1D;
  line-height: 1.6rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .notification p, .story p {
    font-family: "Oswald", sans-serif;
    color: #FFFFFF; }

.notifications {
  position: absolute;
  right: 3%;
  bottom: 5%;
  z-index: 10;
  width: 25%;
  text-align: center; }
  @media (max-width: 730px) {
    .notifications {
      width: 90%; } }

.linkDiv {
  position: absolute;
  cursor: pointer; }
  .linkDiv.storyFormLink {
    top: 5%;
    right: 5%; }
  .linkDiv.storiesLink {
    top: 5%;
    left: 5%; }
  .linkDiv.chartLink {
    bottom: 5%;
    left: 5%; }

p.link {
  font-size: 0.76923rem;
  transition: color 0.4s ease; }
  p.link:hover {
    color: #F5F5F5; }

.form-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100vw;
  width: 30%;
  background: #212121;
  padding: 2rem;
  transition: left 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center; }
  .form-container.active {
    left: 70%; }
  .form-container form {
    width: 100%; }
  .form-container .input-container {
    text-align: center; }
  .form-container .close {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 2rem;
    color: #F5F5F5;
    cursor: pointer;
    transition: transform 0.1s ease;
    text-shadow: 1px 1px 1px #333333; }
    .form-container .close:hover {
      color: #FFCCBC;
      transform: rotate(360deg);
      text-shadow: 1px 1px 1px #333333; }

.input-row {
  padding-bottom: 40px; }

.input-wrapper {
  position: relative;
  width: 100%;
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 1em;
  color: #F5F5F5; }

.input-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 4px);
  text-align: left;
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
  color: #FFCCBC;
  font-weight: 200;
  font-size: 0.8rem;
  padding-top: 15px; }

.input-label::before, .input-label::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0px;
  left: 0;
  height: 100%;
  width: 100%; }

.input-label::before {
  border-bottom: 1px solid #F5F5F5; }

.input-label::after {
  border-bottom: 3px solid #424242;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.5s; }

.input-field {
  padding: 0 5px;
  width: 100%;
  border: none;
  background: none;
  color: #F5F5F5;
  height: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 16px; }
  .input-field:focus {
    outline: none;
    color: #F5F5F5; }
  .input-field:invalid {
    box-shadow: none; }

.input-field:focus + .input-label, .input-field.input-field--filled + .input-label {
  color: transparent; }

.input-field:focus + .input-label::after {
  transform: translate3d(0, 0, 0); }

textarea.input-field {
  height: 70px;
  padding: 10px; }

textarea + .input-label {
  height: calc(100% + 1px); }

@media (max-width: 730px) {
  .contact-form {
    width: 85%; } }
.stories-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30%;
  width: 30%;
  background: #212121;
  padding: 2rem;
  transition: left 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .stories-container.active {
    left: 0%; }
  .stories-container .close {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 2rem;
    color: #F5F5F5;
    cursor: pointer;
    transition: transform 0.1s ease;
    text-shadow: 1px 1px 1px #333333; }
    .stories-container .close:hover {
      color: #FFCCBC;
      transform: rotate(360deg);
      text-shadow: 1px 1px 1px #333333; }

.stories {
  width: 100%;
  text-align: left; }

.story {
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .story:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #FF8A65; }
  .story .intro {
    color: #424242;
    padding-bottom: 10px;
    padding-top: 10px; }

.story-details {
  position: relative;
  width: 40%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px solid red; }

.chart-container {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #DCAE1D;
  padding: 2rem;
  transition: top 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .chart-container.active {
    top: 0%; }
  .chart-container .chart {
    width: 50%; }
    @media (max-width: 730px) {
      .chart-container .chart {
        width: 100%; } }

button, .button {
  margin-top: 60px;
  padding: 10px;
  font-family: "Oswald", sans-serif;
  font-size: 0.9rem;
  color: #424242;
  padding-left: 60px;
  padding-right: 60px;
  display: inline-block;
  outline: none;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border: 1px solid #424242;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  text-decoration: none;
  font-weight: 200;
  text-shadow: none;
  text-align: center; }
  button:hover, .button:hover {
    color: #000;
    transition: all 0.5s ease-in-out; }

button:after, .button:after {
  content: '';
  display: block;
  position: absolute;
  transition: all 0.5s;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; }

button:hover::after, button:active::after,
.button:hover::after, .button:active::after {
  width: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.5s ease-in-out; }

@media (max-width: 730px) {
  button {
    padding-left: 20px;
    padding-right: 20px; } }

/*# sourceMappingURL=styles.css.map */
