$notification-text-font: 'Oswald', sans-serif;
$p-font-family: 'Oswald', sans-serif;
$p-weight: 200;

$h2-font-size: 1.5rem;
$p-font-size: 1rem;

$p-color: #424242;
$link-hover-color: #F5F5F5;
$form-text-color: #F5F5F5;
$form-bg-color: #212121;
$button-text-color: #424242;
$form-label-color: #FFCCBC;
$notification-bg-color: #DCAE1D;
$notification-text-color: #FFFFFF;
$story-bg-color: #FF8A65;
$chart-bg-color: #DCAE1D;

$form-padding: 2rem;

$label-font-size: 0.8rem;
